<!DOCTYPE html>
<html lang="en">

<head>
    <title>{% block title %}{% endblock title %} - Vithuran Vishnuthas</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/style.css">
    <link rel="icon" href="data:,">
</head>

<body>
    <header>
        <u><a href="./index.html"><h1>Writer V2</h1></a></u>
        Vithuran Vishnuthas
    </header>
    <nav>
            <a href="./index.html">Home</a>
            <a href="./stories.html">Stories</a>
    </nav>
    <main>
        {% block content %} {% endblock content%}
    </main>
    <footer>
        Vithuran Vishnuthas &copy; 2022 - {{ now() | date(format="%Y") }}
    </footer>
    {% block jsfile %}
    {% endblock jsfile %}
</body>

</html>
