<!DOCTYPE html>
<html lang="en">

<head>
    <title>{% block title %}{% endblock title %} - Vithuran Vishnuthas</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="./style.css">
</head>

<body>
    <header>
        <u><h1><a href="./index.html">Writer V2</a></h1></u>
        Vithuran Vishnuthas
    </header>
    <nav>
            <a href="./index.html">Home</a>
            <a href="./stories.html">Stories</a>
    </nav>
    <main>
        {% block content %} {% endblock content%}
    </main>
    <footer>
        Vithuran Vishnuthas &copy; 2022
    </footer>
</body>

</html>
