{% extends "base.html" %}
{% block title %}Home{% endblock title %}
{% block content %}
<h2>About Me</h2>
<main>
    <div class="about-me">
        <div class="card">
            <h3>Skills</h3>
            <ul>
                <li><span>Spoken Languages:</span> German, English, Tamil</li>
                <li><span>Programming Languages:</span> Rust, Python</li>
                <li><span>Interests:</span> Software development, writing</li>
            </ul>
        </div>
        <div class="card">
            <h3>Education & Work</h3>
            <ul>
                <li><span>2010 - 2018:</span> Abitur - Maria-Theresia-Gymnasium Munich</li>
                <li><span>2022 - ?:</span> Software development apprenticeship at Dontenwill AG</li>
            </ul>
        </div>
        <div class="card">
            <h3>Contact & Social Media</h3>
            <ul>
                <li><span>E-Mail:</span> <a href="mailto:primary-v2@protonmail.com">primary-v2@protonmail.com</a></li>
                <li><span>Github:</span> <a href="https://github.com/WriterV2">WriterV2</a></li>
            </ul>
        </div>
    </div>
</main>
{% endblock content %}
